.container {
  max-width: 1440px;
  margin: auto;
}

.dark-bg {
  background-color: var(--dark-background);
}

.light-bg {
  background-color: var(--light-background);
}

header {
  background-color: var(--light-elements);
  padding: 25px;
  border-bottom: 2px solid #efefef;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.filters {
  padding: 30px 0;
}

select,
input {
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 5px #efefef;
  color: var(--light-input);
  outline: none;
}

input {
  padding: 20px 30px;
  width: 480px;
}

select {
  appearance: none;
  color: var(--light-texts);
  background-size: 15px 15px !important;
  padding: 20px 40px 20px 30px;
  width: 200px;
}

::placeholder {
  color: var(--light-input);
}

.countries {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  gap: 50px;
}

.country {
  width: 265px;
  background-color: var(--light-elements);
  border-radius: 10px;
  box-shadow: 0 5px 5px #efefef;
  overflow: hidden;
  color: var(--light-texts);
}

.country-flag {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 160px;
}

.country-info {
  padding: 20px 20px 40px;
}

.country-info h2 {
  margin-bottom: 20px;
  font-size: 1.2em;
}

.country-info strong {
  font-weight: 600;
}